.background {
  background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.fila{
  padding: 10px;
  margin: auto;
}

hr {
  width: 70px;
    height: 1px;
    border: 0;
    background-color: red;
}
